{% extends "base.html" %}
{% block content %}
{% load static %}

{% comment %} Create Audio Player in HTML {% endcomment %}
<div class="container">
    {% comment %} <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default player">
                <div class="player">
                    <div class="player-img">
                        <img src="{{ station.favicon }}" onerror="static/img/i-dunno.jpg" alt="player" class="player-img">
                    </div>
                </div>

                <div class="player-info">
                    <div class="player-info-title">
                        <h3>{{ station.name }}</h3>
                    </div>
                    <div class="player-info-description">
                        <p>{{ station.description }}</p>
                    </div>
                {% comment %} <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ station.name }}<span class="glyphicon glyphicon-play-circle"></span>
                    </h3>
                </div>{% endcomment %}
                {% comment %} <div class="panel-body">
                    <audio controls autoplay>
                        <source src="{{ station.url_resolved }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div> 
        </div>
    </div> {% endcomment %}


    <div class="card" style="width: 20rem;">
        <img class="card-img-top player-img" src="{{ station.favicon }}" onerror="this.src='{% static '/img/i-dunno.jpg' %}'" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ station.name }}</h5>
          <p class="card-text">{{ station.country }}</p>
        </div>
        <audio controls autoplay>
            <source src="{{ station.url_resolved }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <div class="card-footer text-muted">
            <a href="{{ request.index }}"><button type="button" class="btn btn-warning">
                <b>Get another station</b>
            <span class="glyphicon glyphicon-refresh"></span>
            </button>
          </div>
      </div>
{% endblock %}